body,
html,
header,
footer,
section,
span,
img,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
  /*outline-color: rgba(0, 0, 0, 0.02);
  outline-style: solid;
  outline-width: 1px;*/
}
/* VARS */
/* BODY */
body {
  background-color: #e5e5e5;
  border: 0px solid red;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  font-weight: 100;
  padding: 0 1rem;
}
body .container {
  border: 0px solid red;
  max-width: 1200px;
  min-width: 320px;
  margin: 1rem auto;
}
/* BODY END*/
/* HEADER */
.header {
  display: inline-block;
  border: 0px solid #000;
  width: 100%;
  height: 100%;
  /*
  background-color: @text-color-hover;
          color: @bg-color;
          border-color: @text-color-hover + #333;
          */
  /* ROW2 NAVIGATION - 940px burger*/
}
.header .row1 {
  display: block;
  border: 0px solid #860086;
  height: 100%;
  /* Выбор языка и валюты */
  /* Корзина */
}
.header .row1 .logo {
  display: inline-block;
  border: 0px solid #000;
  max-height: 100%;
  max-width: 100%;
  width: 25%;
  min-width: 300px;
}
.header .row1 .logreg {
  padding: 0 10px 0;
  display: inline-block;
  height: 100%;
  max-width: 250px;
  min-width: 100px;
  width: 250px;
  width: 22.5%;
  border: 0px solid #000;
  vertical-align: top;
}
.header .row1 .logreg-link {
  margin: 10px auto 0;
  display: block;
  text-align: center;
  color: #888888;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  border: 1px solid #888888;
  border-radius: 5px;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  -webkit-transition-duration: 0.42s;
          transition-duration: 0.42s;
}
.header .row1 .logreg-link:hover {
  background-color: #888888;
  color: #e5e5e5;
  border-color: #bbbbbb;
}
.header .row1 .contacts {
  display: inline-block;
  vertical-align: top;
  border: 0px solid #ff00aa;
  padding: 0;
  height: 100%;
  width: 13.5%;
  min-width: 162px;
}
.header .row1 .contacts-table {
  display: inline-block;
  list-style: none;
  margin: auto;
  height: 100%;
  padding: 6px 0 0 0;
  border: 0px solid blue;
}
.header .row1 .contacts-table-list {
  margin-bottom: 4px;
  list-style: none;
  border: 0px solid blue;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 15px;
}
.header .row1 .contacts-table-list a {
  border: 0px solid #ff004c;
  padding: 0 3px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.42s;
          transition-duration: 0.42s;
  border-radius: 5px;
}
.header .row1 .contacts-table-list a:hover {
  background-color: #909090;
}
.header .row1 .contacts-table-list a:hover span {
  color: #e5e5e5;
}
.header .row1 .contacts-table-list img,
.header .row1 .contacts-table-list span {
  display: inline-block;
  vertical-align: middle;
  color: #000;
}
.header .row1 .selection {
  padding: 10.5px 5px 0;
  display: inline-block;
  height: 100%;
  max-width: 200px;
  min-width: 125px;
  width: 200px;
  width: 18%;
  border: 0px solid #000;
  vertical-align: top;
}
.header .row1 .selection .currency {
  margin-top: 0px;
  display: block;
  width: 100% -1px;
  line-height: 28px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  background-color: #888888;
  color: #e5e5e5;
}
.header .row1 .selection .language {
  margin: 10px auto 0px;
  display: block;
  border: 0px solid #000;
}
.header .row1 .selection .language select {
  line-height: 28px;
  height: 28px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  background-color: #888888;
  color: #e5e5e5;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
}
.header .row1 .selection .language select .lang-option {
  color: #ffffff;
  background-color: #666666;
  border-radius: 4px;
  border-color: #bbbbbb;
}
.header .row1 .selection .language select:hover {
  cursor: pointer;
}
.header .row1 .selection .language select:focus,
.header .row1 .selection .language select:active {
  background-color: #666666;
}
.header .row1 .cart {
  padding: 0;
  display: inline-block;
  height: 100%;
  max-width: 242px;
  min-width: 125px;
  width: 20.5%;
  border: 0px solid #000;
  vertical-align: top;
}
.header .row1 .cart .cart-empty {
  display: block;
  width: 100%;
}
.header .row1 .cart .cart-link {
  margin: 11px auto 1px 0px;
  display: inline-block;
  border: 1px solid #888888;
  height: 66px;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  -webkit-transition-duration: 0.42s;
          transition-duration: 0.42s;
  text-align: left;
  /*background-image: url(../img/cart.png);
        background-repeat: no-repeat;
        background-position: center left;*/
}
.header .row1 .cart .cart-link img {
  display: inline-block;
  margin: 12px 0 14px 14px;
  height: 40px;
  width: 40px;
  position: left;
}
.header .row1 .cart .cart-link span {
  color: #888888;
  margin: 8px 0 8px 16px;
  vertical-align: top;
  line-height: 24px;
  display: inline-block;
}
.header .row1 .cart .cart-link:hover {
  background-color: rgba(97, 16, 16, 0.45);
  border-color: rgba(122, 36, 36, 0);
}
.header .row1 .cart .cart-link:hover span {
  color: #e5e5e5;
}
.header .row2 {
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
  height: 60px;
  background-color: #343434;
}
/* HEADER END */
